.ywca-field-sorter {
  margin-top: 20px; }
  .ywca-field-sorter .ui-sortable-placeholder {
    height: 20px;
    border: 1px dashed #f1c40f;
    background-color: #fffae4; }
  .ywca-field-sorter .ywca-modules {
    float: left;
    width: 50%; }
  .ywca-field-sorter .ywca-enabled {
    margin-right: 15px; }
  .ywca-field-sorter .ywca-disabled,
  .ywca-field-sorter .ywca-enabled {
    padding: 5px 15px;
    border: 1px dashed #ddd;
    background-color: #fff; }
  .ywca-field-sorter .ywca-disabled li {
    -moz-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    -webkit-transition: opacity 0.15s;
    transition: opacity 0.15s;
    opacity: 0.5; }
  .ywca-field-sorter .ywca-disabled .ui-sortable-helper {
    opacity: 1; }
  .ywca-field-sorter h3 {
    font-size: 16px;
    margin: 0 0 15px 0; }
  .ywca-field-sorter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 62px; }
    .ywca-field-sorter ul li {
      margin: 10px 0;
      padding: 10px 15px;
      cursor: move;
      font-weight: bold;
      text-align: center;
      border: 1px solid #e5e5e5;
      background-color: #fafafa;
      -webkit-transition: border-color 0.15s;
      -o-transition: border-color 0.15s;
      -moz-transition: border-color 0.15s;
      transition: border-color 0.15s; }
      .ywca-field-sorter ul li:hover {
        border-color: #bbb; }
  .ywca-field-sorter .button {
    margin-top: 15px; }

.ywca-column-1 {
  display: block;
  float: left;
  width: -webkit-calc( 100% - 320px);
  width: -moz-calc( 100% - 320px);
  width: calc( 100% - 320px); }

.ywca-column-2 {
  float: right;
  width: 300px;
  background-color: #fff;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ywca-services {
  list-style-type: circle;
  padding-left: 25px; }
